<form action="/" method="post">
  <label for="palindromeTest">Write a word or phrase!</label>
  <input id=palindromTest name=palindromTest type="text">
  <button type="submit">Submit</button>
</form>

@if(@Model != null)
{
  <ul>
    <li>@Model</li>
  </ul>
}
